* {
  box-sizing: border-box;
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.75;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  overflow: auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #111;
  background-color: #fff;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0px;
}

input {
  border: 0;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  #main {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
  }
  #left-column {
    flex: 1 1 auto;
  }
  #right-column {
    width: 456px;
  }
}