footer {
  display: block;
  background: #111;
  width: 100%;
}

.footerContainer {
  margin: 0 auto;
  max-width: 1400px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.footerBody {
  margin-bottom: 16px;
  font-size: 0;
  margin-left: -8px;
  margin-right: -8px;
}

.subFooter {
  border-top: none;
  /* font-size: 0; */
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
}

.footerBody > div {
  display: inline-block;
  font-size: 14px;
  line-height: 1.714285714285714;
  vertical-align: top;
  position: relative;
  min-height: 1px;
  width: 100%;
}

.linksMenu {
  padding-left: 8px;
  padding-right: 8px;
}

.accordion.first .footerLink > a {
  color: #fff;
}

.footerLink, .footerLink > a {
  color: #7e7e7e;
}

.socialMenu {
  padding-left: 24px;
  margin-top: 16px;
}

.subFooter > div {
  flex-basis: 50%;
  display: flex;
}

.subFooter span {
  color: #7e7e7e;
}

@media only screen and (min-width: 640px) {
  footer {
    min-height: 200px;
  }
  .footerContainer {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
  }
  .subFooter {
    border-top: 1px solid #222;
  }
  .linksMenu {
    width: 75%;
  }
  .socialMenu {
    width: 25%;
    margin-top: 0px;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 1024px) {
  .footerContainer {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
  }
}