.menuBar {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
}

.menuHeader {
  border-bottom: 2px solid transparent;
  padding-bottom: 18px;
  transition: border-color 0.1s, color 0.1s;
  padding-top: 16px;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 500;
  line-height: 1.5;
}

.menuHeader.focused {
  border-bottom: 2px solid #000;
}

.navLinks {
  display: block;
  width: calc(100% - 426px);
  margin: 0 auto;
  height: 60px;
  overflow: hidden;
}

.navLinks li {
  display: inline-block;
  height: 100%;
}

.navLinks li > a {
  display: inline-block;
  height: 100%;
}

.menu {
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  max-height: 800px;
  top: 60px;
  left: 0;
  right: 0;
  transition: transform 0.1s ease, opacity 0ms linear 0.1s,
    visibility 0ms linear 0.1s;
  transform-origin: top center;
  transform: scaleY(0);
  background: #fff;
  padding: 40px;
  padding-top: 16px;
  width: 100%;
  z-index: 2;
}

.menu.focused {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
  transition: transform 0.25s ease, opacity 0ms, visibility 0ms;
}

.container {
  max-width: 1344px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  min-height: 1px;
  font-size: 16px;
  line-height: 1.75;
  padding-left: 8px;
  padding-right: 8px;
  width: 16.666666666666664%;
  padding-top: 16px;
  text-align: left;
  vertical-align: top;
  opacity: 0;
  transform: translateY(-10px);
  transition: transform 0.1s, opacity 0.1s;
  transition-delay: 0s;
}

.menu.focused .column {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.3s ease, opacity 0.2s linear;
  transition-delay: 0.2s;
}

.menuItem {
  text-align: left;
  margin-bottom: 6px;
  white-space: normal;
  overflow-wrap: normal;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.428571;
  display: block;
  font-weight: 500;
  color: #757575;
  background: transparent;
}

@media only screen and (min-width: 1024px) {
  .menuBar {
    display: flex;
  }
  .menuLink {
    padding-right: 12px;
    padding-left: 12px;
  }
}

@media only screen and (min-width: 1440px) {
  .navLinks {
    width: calc(100% - 690px);
  }
}
