.wrapper {
  max-width: 1808px;
  margin-left: 12px;
  margin-right: 12px;
  width: auto;
}

.header {
  font-family: 'Nike TG', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33333;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 16px;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(12, calc(33.3333% - var(--grid-gap, 16px)));
  grid-gap: var(--grid-gap, 16px);
}

.card {
  padding: 0 8px;
  margin-bottom: 28px;
  max-width: 592px;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.25s ease 0s;
}

.info {
  font-size: 14px;
  padding: 12px 12px 0px;
  line-height: 20px;
  min-height: 0px;
  position: relative;
}

.name {
  color: rgb(17, 17, 17);
  font-weight: 500;
  line-height: 20px;
}

.type {
  color: rgb(117, 117, 117);
  line-height: 20px;
}

.price {
  padding-top: 12px;
  line-height: 20px;
  padding-right: 16px;
  font-weight: 500;
}
